__pycache__/
*.py[cod]
.DS_Store
.env
.github/container-release.settings
gha-creds-*.json
**/reports/local/
.venv/
.pytest_cache/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
*-plan.txt
*-plan.no-color.txt
